{:main tv.core
 :optimizations :none
 :output-to "target/public/js/index.js"
 :output-dir "target/public/js"
 :parallel-build true
 :source-map true
 :source-map-timestamp true
 :target :bundle
 :bundle-cmd {:none ["npx" "webpack" "--mode=development"]}}
