^{:auto-bundle :webpack}
{:main tv.core
 :optimizations :none
 :output-dir "target/public/js"
 :compiler-stats true
 :parallel-build true
 :source-map true
 :source-map-timestamp true
 :target :bundle}
